# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfplan
crash.log

# Terragrunt
.terragrunt-cache
*.svg
tmp

# Ignore CLI configuration files
.terraformrc
terraform.rc

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea
out/

# VSCode
.vscode/

# Old ones.
*.swp
*.key
*.pem
*.cer
*.tmp
*.p7b
*.pfx
*.der
*.credentials
.gitsecret/keys/random_seed
*/iam_cert/*
*.log
